.inline-block {
  display: inline-block;
}
.inline-block.btnfix {
  margin-top: 3px;
}
.well blockquote {
  border: none;
  margin: 0;
}
.well blockquote span.quote {
  font-family: 'Simsum', serif;
  font-size: 30px;
  line-height: 20px;
}
.well blockquote p {
  font-size: 14px;
}
.well blockquote footer {
  text-align: right;
  padding-right: 60px;
  padding-bottom: 0;
  color: inherit;
}
.light-blue {
  background: #CDE9F4;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.nav-tabs.no-border {
  border: none;
}
.nav-tabs.no-border li,
.nav-tabs.no-border a,
.nav-tabs.no-border > li.active > a {
  border: none;
}
.white-block {
  height: 24px;
  display: block;
  width: 100%;
}
span.outstanding {
  font-size: 36px;
}
.text-green {
  color: #86be24;
}
.btn-green {
  background: #86be24;
  color: #fff;
}
.btn-blue {
  background: #E7EFF3;
  border: 1px solid #0091d0;
}
.btn-blue:hover {
  background: #fff;
}
.btn-buy {
  font-size: 24px;
  line-height: 24px;
  padding: 18px 45px;
}
.btn-buy.btn-big {
  font-size: 30px;
  line-height: 30px;
  padding: 18px 45px;
}
.btn-padding-more {
  padding: 6px 24px !important;
}
a,
img {
  outline: none !important;
}
:invalid {
  border-color: red;
}
.glyphicon-vmd::before {
  top: 5px;
}
.glyphicon-top-2 {
  top: 2px;
}
header {
  line-height: 62px;
  height: 62px;
}
header .logo {
  width: 134px;
  height: 44px;
  margin-top: 9px;
}
header .user-action a {
  display: inline-block;
  margin-right: 24px;
  -webkit-transition: .65s;
  transition: .65s;
}
header .user-action a:hover {
  color: #000;
  text-decoration: none;
}
header .user-action .avatar {
  width: 40px;
  vertical-align: middle;
}
header .user-action .user-name {
  -webkit-transition: .65s;
  transition: .65s;
  padding-left: 6px;
}
header .user-action .quit {
  -webkit-transition: .65s;
  transition: .65s;
}
header .user-action .quit:hover {
  text-decoration: none;
  color: #000;
}
.carousel-caption {
  left: 10.8%;
  right: auto;
  text-align: left;
  bottom: 10.8%;
}
.carousel-caption a {
  color: #fff;
}
.carousel-caption a:hover {
  text-decoration: none;
}
nav {
  background: #0091d0;
  height: 41px;
}
ul.main-nav {
  list-style: none;
  margin: 0;
  float: right;
}
ul.main-nav li {
  float: left;
}
ul.main-nav li a {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 41px;
  padding: 0 40px;
  -webkit-transition: background .65s;
  transition: background .65s;
}
ul.main-nav li a:hover {
  text-decoration: none;
}
ul.main-nav li.active a,
ul.main-nav li a:hover {
  background: #0069bb;
}
.primary {
  padding-top: 72px;
}
.primary .content {
  background: #fff;
  min-height: 600px;
  -webkit-box-shadow: 0 0 3px #aaa;
  box-shadow: 0 0 3px #aaa;
  border-radius: 3px;
  padding-bottom: 48px;
}
.primary .content section .section-inner {
  padding: 29px 38px;
}
.primary.gray {
  background: #F7F7F7;
  padding-top: 31px;
}
.primary.gray footer .share {
  border: none;
  height: 1px;
}
.primary.gray footer ul.footer-share-list {
  background: none;
}
section {
  padding: 24px 0;
}
section.how-to-buy {
  padding-top: 48px;
}
section.why-choose-us .container > .row {
  margin: 24px 0;
}
.how-to-buy-list {
  margin: 48px 0;
  padding: 0;
  list-style: none;
  display: table;
  height: 100px;
}
.how-to-buy-list li {
  display: table-cell;
  vertical-align: middle;
  width: 14%;
  text-align: center;
  padding: 12px;
  background: #effbff;
  border-radius: 5px;
  border: #bbddeb 1px solid;
}
.how-to-buy-list li.list-decoration {
  display: table-cell;
  width: 3.2%;
  background: none;
  border: none;
}
.how-to-buy-list li.list-decoration span.icon-arrow {
  display: inline-block;
  width: 32px;
  height: 15px;
}
.how-to-buy-list li.list-decoration .arrow-down {
  background: url(../images/home-assets/list-arrow-down.png) no-repeat;
}
.how-to-buy-list li.list-decoration .arrow-up {
  background: url(../images/home-assets/list-arrow-up.png) no-repeat;
}
.how-to-buy-list li:last-child {
  margin: 0;
}
.service-contrast {
  margin: 48px 0 72px;
}
.service-contrast .item {
  background: #FAFAFA;
  border-top: 5px solid #1E84C1;
  position: relative;
  z-index: 10;
  padding: 0;
}
.service-contrast .item .item-inner {
  padding: 15px;
  border-left: solid 1px #E1E1E1;
  border-bottom: solid 1px #E1E1E1;
}
.service-contrast .item:last-child .item-inner {
  border-right: solid 1px #E1E1E1;
}
.service-contrast .item h3 {
  text-align: center;
  font-size: 18px;
  margin: 48px 0;
  height: 19px;
}
.service-contrast .item.outstanding {
  border-top: 10px solid #86be40;
  background: #fff;
  z-index: 15;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
ul.service-contrast-list {
  list-style: none;
  padding: 0;
}
ul.service-contrast-list li {
  display: block;
  padding: 12px 0;
  color: #888;
  border-top: 1px solid #E1E1E1;
  text-align: center;
}
footer {
  padding-bottom: 36px;
}
footer .share {
  border-bottom: #aaaaaa solid 1px;
  position: relative;
  margin: 48px 0;
}
footer ul.footer-share-list {
  list-style: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 14px;
}
footer ul.footer-share-list li {
  display: inline-block;
  padding: 10px;
}
section.service-plan {
  position: relative;
  color: #565656;
}
section.service-plan h1 {
  color: #363636;
}
section.service-plan .nav-pills {
  position: absolute;
  z-index: 100;
}
section.service-plan .btn-buy {
  font-size: 24px;
  line-height: 24px;
  padding: 12px 30px;
}
section.service-plan #planA li {
  font-size: 16px;
}
section.service-plan #planB li {
  font-size: 16px;
}
section.service-plan .price-plan-item {
  font-size: 18px;
}
section.service-plan .price-plan-item span:nth-child(1) {
  width: 150px;
  text-align: right;
  display: inline-block;
}
section.service-plan .price-plan-item small {
  font-size: 12px;
  display: inline-block;
  margin-left: 28px;
}
section.service-plan .price-plan-item.single span:nth-child(1) {
  width: auto;
}
section.other-service-plan .header {
  position: relative;
  padding-bottom: 24px;
}
section.other-service-plan .other-service-label {
  background: url(../images/service-assets/service03.png) no-repeat;
  display: inline-block;
  color: #fff;
  width: 219px;
  height: 58px;
  font-size: 24px;
  line-height: 58px;
  text-align: center;
  position: relative;
  margin-left: -15px;
}
section.other-service-plan ul.nav-pills {
  top: 12px;
  position: absolute;
  left: 25%;
  top: 8px;
}
section.team h1 {
  font-family: "Microsoft YaHei Bold", "Microsoft YaHei", Arial, helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
}
section.team h3 {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  margin: 0 0 18px;
}
section.team-member .nav {
  text-align: center;
}
section.team-member .nav li {
  display: inline-block;
}
section.team-member .nav li a {
  padding: 0;
  margin: 8px;
}
section.team-member .nav li.active a,
section.team-member .nav li.active a:hover {
  -webkit-box-shadow: 0 0 10px 1px #9BA2DA;
  box-shadow: 0 0 10px 1px #9BA2DA;
}
section.team-member .nav li a:hover {
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
}
section.team-member .nav .member-link {
  position: relative;
}
section.team-member .nav .member-link .name {
  position: absolute;
  right: 0;
  color: #fff;
  bottom: 26px;
  width: 75px;
  text-align: center;
}
section.team-member .member-detail .title {
  color: #FF9900;
  margin: 36px 0;
  font-size: 16px;
}
section.case h1 {
  font-family: "Microsoft YaHei Bold", "Microsoft YaHei", Arial, helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
}
section.case h3 {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  margin: 0 0 18px;
}
section.case-item .nav {
  text-align: center;
}
section.case-item .nav li {
  float: left;
  width: 25%;
}
section.case-item .nav li a {
  padding: 0;
  margin: 8px;
  display: table;
  height: 170px;
  width: 94%;
  margin: 3%;
  border: #aaa 1px solid;
  background: #F6F4F8;
}
section.case-item .nav li a .case-link {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
section.case-item .nav li.active a,
section.case-item .nav li.active a:hover {
  -webkit-box-shadow: 0 0 10px 1px #9BA2DA;
  box-shadow: 0 0 10px 1px #9BA2DA;
}
section.case-item .nav li a:hover {
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
}
section.case-item .nav .case-link {
  position: relative;
}
section.case-item .nav .case-link .name {
  position: absolute;
  right: 0;
  color: #fff;
  bottom: 26px;
  width: 75px;
  text-align: center;
}
section.case-item .case-detail .title {
  color: #FF9900;
  margin: 36px 0;
  font-size: 16px;
}
.comment {
  padding-top: 36px;
}
.comment .popover {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  position: relative;
}
.comment .popover.bottom > .arrow {
  left: 25%;
}
section.faq-title h1 {
  font-size: 28px;
}
section.faq-title p {
  color: #999999;
  margin: 16px 6px 0;
}
section.faq-title .form-group {
  margin: 0;
}
section.faq-title .form-group .row > :first-child {
  padding-right: 0;
}
section.faq-content .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
section.faq-content .panel-heading {
  background: none;
}
section.faq-content .panel-heading a {
  color: #888;
}
section.faq-content .panel-body {
  background: #fafafa;
}
section.faq-content a:hover,
section.faq-content .active a {
  text-decoration: none;
  color: #333;
}
section.regist h1 {
  font-family: "Microsoft YaHei Bold", "Microsoft YaHei", Arial, helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
}
section.regist h3 {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  margin: 0 0 18px;
}
[for="validation"] + div div {
  padding-right: 0;
}
[for="validation"] + div :last-child {
  line-height: 34px;
}
[for="phoneValidation"] + div div {
  padding-right: 0;
}
[for="phoneValidation"] + div a {
  color: inherit;
}
.right-middle {
  line-height: 34px;
}
