.well blockquote {
  border: none;
  margin: 0;
}
.well blockquote span.quote {
  font-family: 'Simsum', serif;
  font-size: 30px;
  line-height: 20px;
}
.well blockquote p {
  font-size: 14px;
}
.well blockquote footer {
  text-align: right;
  padding-right: 60px;
  padding-bottom: 0;
  color: inherit;
}
.light-blue {
  background: #CDE9F4;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.nav-tabs.no-border {
  border: none;
}
.nav-tabs.no-border li,
.nav-tabs.no-border a,
.nav-tabs.no-border > li.active > a {
  border: none;
}
.white-block {
  height: 24px;
  display: block;
  width: 100%;
}
span.outstanding {
  font-size: 36px;
}
.text-green {
  color: #86be24;
}
.btn-green {
  background: #00B239;
  color: #fff;
}
.btn-green.btn-sm {
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  cursor: default;
}
.btn-green.btn-sm:hover {
  color: #fff;
}
span.btn-orange.btn-sm {
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  cursor: default;
}
span.btn-orange.btn-sm:hover {
  color: #fff;
}
.btn-blue {
  background: #E7EFF3;
  border: 1px solid #0091d0;
}
.btn-blue:hover {
  background: #fff;
}
.btn-buy {
  font-size: 24px;
  line-height: 24px;
  padding: 18px 45px;
}
.btn-buy.btn-big {
  font-size: 30px;
  line-height: 30px;
  padding: 18px 45px;
}
.btn-padding-more {
  padding: 6px 24px !important;
}
a,
img {
  outline: none !important;
}
:invalid {
  border-color: red;
}
.inline-block {
  display: inline-block;
}
.inline-block.btnfix {
  margin-top: 3px;
}
a:hover {
  text-decoration: none;
}
body {
  background: #F2F2F2;
}
header.user.main {
  line-height: 70px;
  height: 70px;
  background: #313641;
}
header.user.main .logo {
  width: 134px;
  height: 44px;
  margin-top: 9px;
}
header.user.main .user-action .avatar {
  width: 40px;
  vertical-align: middle;
}
header.user.main .user-action .user-name {
  color: #ccc;
  -webkit-transition: .65s;
  transition: .65s;
  padding-left: 12px;
}
header.user.main .user-action a:hover .user-name {
  color: #fff;
}
.primary {
  padding: 24px 0;
}
footer hr {
  border-color: #ddd;
}
.user-sidebar,
.user-content {
  font-family: 'Simsum', serif;
}
.user-sidebar > section,
.user-content > section {
  border: 1px solid #CACACA;
  background: #fff;
  padding: 0 9px 10px;
  margin-bottom: 5px;
}
.user-sidebar > section .title,
.user-content > section .title {
  line-height: 40px;
  color: #36A739;
  font-weight: bold;
  border-bottom: 1px dashed #aaa;
  font-family: 'Simsum', serif;
}
.user-sidebar > section .title .btn-green,
.user-content > section .title .btn-green {
  background: #36A739;
}
.user-sidebar > section .title .btn-green:hover,
.user-content > section .title .btn-green:hover {
  background: #6FC819;
  color: #fff;
}
.user-sidebar > section .no-title,
.user-content > section .no-title {
  min-height: 10px;
}
.user-sidebar {
  padding-right: 0;
}
.user-sidebar .btn-green.btn-sm {
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.user-sidebar ul {
  margin-top: 18px;
  padding-left: 18px;
}
.user-sidebar ul a {
  color: #777;
  line-height: 24px;
  -webkit-transition: .65s;
  transition: .65s;
}
.user-sidebar ul a:hover {
  color: #000;
}
.user-content > section {
  padding: 15px;
  margin-bottom: 15px;
}
.user-content > section .no-title {
  min-height: 15px;
}
.user-content section.user-dashboard-info .avatar {
  width: 80px;
}
.user-content section.user-dashboard-info .title {
  margin-left: 104px;
  font-size: 24px;
  color: #555;
  line-height: normal;
  padding-bottom: 15px;
}
.user-content section.user-dashboard-info .validation-info {
  padding-left: 104px;
  margin-top: 12px;
}
.user-content section.user-dashboard-info .validation-info .envelope,
.user-content section.user-dashboard-info .validation-info .phone {
  position: relative;
  padding-left: 22px;
}
.user-content section.user-dashboard-info .validation-info .envelope::before,
.user-content section.user-dashboard-info .validation-info .phone::before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0;
  font-size: 16px;
  color: #0091d0;
}
.user-content section.user-dashboard-info .validation-info .envelope::before {
  content: "\2709";
}
.user-content section.user-dashboard-info .validation-info .phone {
  display: inline-block;
  margin-left: 24px;
}
.user-content section.user-dashboard-info .validation-info .phone::before {
  content: "\e145";
}
.user-content section.user-dashboard-info .validation-info .text-success {
  color: #86be40;
}
.table-striped {
  border-bottom: 1px solid #ddd;
}
.table-bordered {
  margin-top: 15px;
}
.table {
  color: #777;
}
.table strong {
  color: #000;
}
.table .progress {
  margin-bottom: 10px;
}
.table tr.bottom-element {
  position: relative;
}
.table tr.bottom-element td {
  padding-bottom: 30px;
}
.table tr.bottom-element .to-bottom {
  position: absolute;
  bottom: 60px;
  width: 180px;
}
.bg-gray {
  background: #F3F3F3;
}
.text-orange {
  color: #FF6600;
  font-weight: bold;
}
.pl12 {
  padding-left: 12px;
}
.text-sm {
  font-size: 12px;
}
.text-lg {
  font-size: 16px;
}
.btn-orange {
  background: #FF6600;
  color: #fff;
}
strong {
  font-size: 14px;
}
table .row {
  margin: 0;
}
table .row > div {
  padding: 0;
}
