// ----------------------------------------
// ! variable list
// ----------------------------------------

// ! color
@c-blue: #0091d0;
@c-dark-blue: #0069BB;
@c-light-blue: #EFFBFF;
@c-green: #86be40;
@c-border-gray: #AAAAAA;
@c-border-blue: #BBDDEB;
@c-bg-gray: #FAFAFA;

// ! height
@h-header: 70px;
@h-nav: 41px;

// ----------------------------------------
// ! common style
// ----------------------------------------

.well {
	blockquote {
		border: none;
		margin: 0;

		span.quote {
			font-family: 'Simsum', serif;
			font-size: 30px;
			line-height: 20px;
		}

		p {
			font-size: 14px;
		}

		footer {
			text-align: right;
			padding-right: 60px;
			padding-bottom: 0;
			color: inherit;
		}
	}
}
.light-blue {
	background: #CDE9F4;
	border: none;
	box-shadow: none;
}
.center-block {
	display: block;
	margin: 0 auto;
}

.nav-tabs.no-border {
	border: none;

	li, a, &>li.active>a {
		border: none;
	}
}
.white-block {
	height: 24px;
	display: block;
	width: 100%;
}

span.outstanding {
	font-size: 36px;
}

.text-green {
	color: #86be24;
}
.text-dark-green {
	color: #00B239;
}

.btn-green {
	background: #00B239;
	color: #fff;
}

.btn-green.btn-sm {
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
	cursor:  default;

	&:hover {
		color: #fff;
	}
}

span.btn-orange.btn-sm {
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
	cursor: default;

	&:hover {
		color: #fff;
	}
}

span.btn-gray.btn-sm {
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
	cursor: default;

	&:hover {
		color: #333;
	}
}

span.btn-white.btn-sm {
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
	cursor: default;

	&:hover {
		color: #333;
	}
}

.btn-blue {
	background: #E7EFF3;
	border : 1px solid @c-blue;

	&:hover {
		background: #fff;
	}
}

.btn-buy {
	font-size: 24px;
	line-height: 24px;
	padding: 18px 45px;
}
.btn-buy.btn-big {
	font-size: 30px;
	line-height: 30px;
	padding: 18px 45px;
}
.btn-padding-more {
	padding: 6px 24px !important;
}
a, img {
	outline: none !important;
}

:invalid {
	border-color: red;
}

.inline-block {
	display: inline-block;

	&.btnfix {
		margin-top: 3px;
	}
}

a:hover {
	text-decoration: none;
}

body {
	background: #F2F2F2;
}

// ----------------------------------------
// ! main
// ----------------------------------------
header.user.main {
	line-height: @h-header;
	height: @h-header;
	background: #313641;

	.logo {
		width: 134px;
		height: 44px;
		margin-top: 9px;
	}

	.user-action {
		.avatar {
			width: 40px;
			vertical-align: middle;
		}
		.user-name {
			color: #ccc;
			transition: .65s;
			padding-left: 12px;
		}

		a:hover {
			.user-name {
				color: #fff;
			}
		}
	}
}
.primary {
	padding: 24px 0;
}

footer {
	hr {
		border-color: #ddd;
	}
}
// ----------------------------------------
// ! user.sidebar&content
// ----------------------------------------
.user-sidebar, .user-content {

	font-family: 'Simsum', serif;

	>section {
		border: 1px solid #CACACA;
		background: #fff;
		padding: 0 9px 10px;
		margin-bottom: 5px;

		.title {
			line-height: 40px;
			color: #36A739;
			font-weight: bold;
			border-bottom: 1px dashed #aaa;
			font-family: 'Simsum', serif;

			.btn-green {
				background: #36A739;
				cursor: pointer;

				&:hover {
					background: #6FC819;
					color: #fff;
				}
			}
		}
		.no-title {
			min-height: 10px;
		}
	}
}

.user-sidebar {
	padding-right: 0;

	.btn-green.btn-sm {
		padding: 0 6px;
		font-size: 12px;
		line-height: 20px;
		display: inline-block;
		vertical-align: top;
		margin-top: 9px;
	}


	ul {
		margin-top: 18px;
		padding-left: 18px;

		a {
			color: #777;
			line-height: 24px;
			transition: .65s;

			&:hover {
				color: #000;
			}
		}
	}
}

.user-content {
	.title {
		font-size: 16px;
		font-weight: normal !important;

		small {
			font-size: 12px;
		}
	}
	>section {
		padding:15px;
		margin-bottom: 15px;

		.no-title {
			min-height: 15px;
		}
	}
	section.user-dashboard-info {
		.avatar {
			width: 80px;
		}
		.title {
			margin-left: 104px;
			font-size: 24px;
			color: #555;
			line-height: normal;
			padding-bottom: 15px;
		}
		.validation-info {
			padding-left: 104px;
			margin-top: 12px;

			.phone {
				margin-left: 24px;
			}
		}
	}
}

.validation-info {
	.envelope, .phone {
		position: relative;
		padding-left: 22px;

		&::before {
			font-family: 'Glyphicons Halflings';
			position: absolute;
			left: 0;
			font-size: 16px;
			color: #313541;
		}
	}

	.envelope {
		&::before {
			content: "\2709";
		}
	}

	.phone {
		display: inline-block;
		&::before {
			content: "\e145";
		}
	}

	.text-success {
		color: @c-green;
	}
}

.table-striped {
	border-bottom: 1px solid #ddd;
}

.table-bordered {
	margin-top: 15px;

	thead {
		background: #F3F3F3;
		color: #333;

		th {
			border: 0 !important;
		}
	}
}
.table {
	color: #777;

	strong {
		color: #000;
	}

	.progress {
		margin-bottom: 10px;
	}
}

.table tr.bottom-element {
	position: relative;

	td {
		padding-bottom: 30px;
	}

	.to-bottom {
		position: absolute;
		bottom: 60px;
		width: 180px;
	}
}

.bg-gray {
	background: #F3F3F3;
}

.text-orange {
	color: #FF6600;
	font-weight: bold;
}
.pl12 {
	padding-left: 12px;
}

.text-sm {
	font-size: 13px;
}
.text-lg {
	font-size: 16px;
}
.text-xlg {
	font-size: 20px;
}

.btn-orange {
	background: #FF6600;
	color: #fff;
}

.btn-gray {
	background: #E4E4E4;
	border: 1px solid #aaa;
	color: #333;
}

.btn-white {
	border: 1px solid #aaa;
	color: #333;
}

small {
	font-size: 13px;
}

table .row {
	margin: 0;
	>div {
		padding: 0;
	}
}

section {
	form {
		margin: 72px auto;
		width: 80%;
	}

	form.no-margin {
		margin: 0;
		width: 100%;
	}
}

.btn-light-blue {
	background: linear-gradient(to left bottom, #f2f6f9, #e0e9ee);
	border: 1px solid #bcf;
	border-radius: 0;
	padding: 12px 40px;
	color: #000;

	&:hover {
		background: #BBC8FF + #222;
	}

	&.btn-sm {
		padding: 6px 20px;
	}

	&.btn-xs {
		padding: 3px 12px;
	}
}

/* pagination */
.pagination li a {
	color: #333;
}

.case-progress {
	ul {
		list-style: none;
		width: 630px;
		margin: 24px auto;
		padding: 0;
		padding-bottom: 36px;

		li {
			width: 200px;
			position: relative;
			float: left;

			>div.block {
				width: 30px;
				height: 30px;
				border: solid 1px #555;
				line-height: 30px;
				text-align: center;
				position: relative;
				font-weight: bold;

				&::after {
					position: absolute;
					right: 0;
					width: 170px;
					height: 10px;
					border: 1px solid #555;
					border-left: none;
					border-right: none;
					right: -171px;
					top: 8px;
					content: " ";
				}
			}

			>div.describe {
				position: absolute;
				width: 300px;
				text-align: center;
				left: 15px;
				transform: translateX(-50%);
				bottom: -30px;
				font-size: 13px;
			}
		}

		li.now {
			color: #36A739;

		}

		li.done {
			color: #36A739;

			.block {
				background: #36A739;
				border-color: #36A739;
				color: #fff;

				&::after {
					background: #36A739;
				}
			}
		}

		li:last-child {
			width: 30px;

			.block {
				&::after {
					border: none;
				}
			}
		}
	}
}

.order-state {
	margin: 48px auto 36px;

	ul {
		list-style: none;
		width: 630px;
		padding: 0;
		margin: 0 auto;

		li {
			width: 300px;
			position: relative;
			float: left;

			>div.block {
				width: 42px;
				height: 42px;
				border: solid 1px #555;
				line-height: 30px;
				border-radius: 21px;
				text-align: center;
				position: relative;
				font-family: Arial;
				background: #fff;
				line-height: 42px;

				&::after {
					position: absolute;
					right: 0;
					width: 300px;
					height: 10px;
					border: 1px solid #555;
					border-left: none;
					border-right: none;
					right: -285px;
					top: 14px;
					content: " ";
					z-index: -1;
					background: #fff;
				}
			}

			>div.describe {
				position: absolute;
				width: 300px;
				text-align: center;
				left: 21px;
				transform: translateX(-50%);
				top: -40px;
				font-size: 13px;
			}
		}

		li.now {
			.block {
				background: #36A739;
				border-color: #36A739;
				color: #fff;
			}
		}

		li.done {
			.block {
				background: #36A739;
				border-color: #36A739;
				color: #fff;

				&::after {
					background: #36A739;
				}
			}
		}

		li:last-child {
			width: 30px;

			.block {
				&::after {
					display: none;
				}
			}
		}
	}
}

.well {
	line-height: 24px;
	.row {
		margin-bottom: 12px;
		color: #555;

		strong {
			color: #222;
		}
	}
}

.log {
	.row {
		margin-bottom: 12px;
	}
}

h4 {
	margin: 24px 0;
	color: #222;
}

.log, .case-comment {
	color: #777;

	form {
		margin: 0;
		width: 100%;
	}
}

.add-star {
	.glyphicon-star {
		color: #FF9200;
	}

	.glyphicon {
		cursor: pointer;
	}
}

.case-comment textarea {
	height: 46px;
}


.warning {

	padding: 24px;
	background: #F0F8FF;

	.glyphicon {
		font-size: 60px;
		position: relative;
	}
}

.on-glyphicon {
	font-family: 'Simsum', serif;
	position: absolute;
	left: 35%;
	font-size: 45px;
	top: 60%;
	color: #fff;
	transform: translate(-50%,-50%);

	.glyphicon {
		font-size: 16px;
	}
}

ul.inline-block {
	vertical-align: middle;

	>li>a {
		padding: 1px 12px;
	}

	li {
		margin-left: 12px;
	}
}

.state-select {
	margin-top: 24px;

	font-size: 13px;
	color: #999999;

	.nav-pills>li>a {
		color: #999;
		border-radius: 0;
	}

	.nav-pills>li.active>a {
		background: #999;
		color: #fff;
	}
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border-color: #CDCDCD;
}

span.list-left {
	width: 100px;
	display: inline-block;
}
.no-margin {
	margin: 0 !important;
}


span.btn-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
span.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100px;
  min-height: 50px;
  font-size: 99px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
div.btn-file {
  display: inline-block;
}
div.btn-file .hidden-file {
  width: 0;
  height: 0;
  overflow: hidden;
}

.form-left-label.form-horizontal .control-label {
	text-align: left;
}

form p {
	padding-top: 7px;
	margin-bottom: 0;
}
form p.inline-block {
	vertical-align: top;
}
.form-muted {
	color: #666666;
}
h4.overline {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;

	span {
		padding: 0 12px;
		background: #fff;
		display: inline-block;
		position: relative;
		z-index: 100;
	}

	&::after {
		position: absolute;
		content: " ";
		height: 1px;
		width: 100%;
		left: 0;
		border-top: dotted 1px #aaa;
		top: 7px;
		z-index: 0;
	}
}


table.h48 {
	td {
		height: 48px;
		vertical-align: middle !important;
	}

	tr:last-child {
		td {
			border-bottom: 1px solid #ddd;
		}
	}
}

.modal-md {
	margin: 150px auto;
}

.modal-body.pd-lg {
	padding: 48px;
}

.modal-header.bg-gray {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

	background: #E5E5E5;
}

.bg-white {
	background: #fff;
}

.block-light-blue.block-bordered {
	background: #E5F3FF;
	border: dashed 1px #aaa;
	padding: 8px 15px;
}

.block-green.block-bordered {
	background: #E0F6DE;
	border: dashed 1px #aaa;
	padding: 8px 15px;
}

.pd-md {
	padding: 24px;
}

.mb-md {
	margin-bottom: 48px;
}

.mb-lg {
	margin-bottom: 72px;
}

.pt-md {
	padding-top: 48px;
}
.pt-sm {
	padding-top: 24px;
}

.label-normal {
	label {
		font-weight: normal;
	}
}

.form-group-md {
	.form-group {
		margin-bottom: 24px;
	}
}
.pl-md {
	padding-left: 24px;
}

.checkbox-block {
	padding: 10px 24px 8px;
	border: 1px dashed;

	line-height: normal;
}

.mt-sm {
	margin-top: 24px;
}
.mb-sm {
	margin-bottom: 24px;
}

.hr-black {
	border-color: #333;
}
.pr12 {
	padding-right: 12px;
}
.btn.v-bottom {
	vertical-align: bottom;
	padding: 6px 30px;
	border-radius: 0;
	margin-left: 48px;

	&:hover {
		color: #fff;
		background: #00BE3A + #111;
	}

	&:disabled {
		background: #aaa;
	}
}

.pb-lg {
	padding-bottom: 72px;
}

.pt-lg {
	padding-top: 72px;
}

.min-md {
	min-height: 480px;
}